

.cardlayout{
    
    display: flex;
    margin-top:5%;
    margin-left: 10%;
    flex-direction: column; /* Arrange divs vertically in columns */
    align-items: center; /* Center divs horizontally in each row */

}

.row {
    border-radius: 10%;
    display: flex; /* Use flexbox for each row */
    justify-content: space-between; /* Space divs within the row */
    width: 70%; /* Ensure divs within a row occupy the full width */
    margin-right:200px;
}

.column {
    border-radius: 10%;
    display: flex;
    width: 60%; /* Set the width of each div (adjust as needed) */
    padding: 10px; /* Add padding for spacing */
    margin: 20px; /* Add margin for spacing between divs */
    
}
.cards1{
    display: flex;
    justify-content: space-evenly;
    margin-top:10%;

}

.cardcomponent{
   
    border-radius:1px; 
    height:450px;
    width: 25%;
    border-radius: 5%;
}
